*~
/PyNN/test.py
PyNN/*.gdf
*.dat
PyNN/*.*ml
PyNN/Results/*.*
*.mod
NeuroML2/*.hoc
x86_64
NeuroML2/*.dat
NeuroML2/results
NeuroML2/*nrn.py
NeuroML2/*json
NeuroML2/*netpyne.py
*.spikes
NeuroML2/NET_*.nml
NEST/*.gdf
/NEST/nest_v-4-0.dat
/NEST/results
/PyNN/E_net_v.dat
/PyNN/I_net_v.dat
*.pyc
/NEST/NEST_aplha_N2500_1000.0ms.png
/NEST/NEST_aplha_N5000_1000.0ms.png
/NEST/NEST_delta_N12500_2000.0ms.png
/NEST/NEST_delta_N1250_1000.0ms.png
/NEST/NEST_delta_N5000_1000.0ms.png
/PyNN/PyNN_NeuroML2_Export.svg
/NEST/NEST_alpha_N1250_1000.0ms.png
/NeuroML2/ttt.py
/PyNN/LEMS_Sim_BrunelFromPyNN_nrn.py
/NEST/LEMS_Sim_PyNN_NeuroML2_Export.xml
/NEST/LEMS_Sim_PyNN_NeuroML2_Export_nrn.py
/NEST/PyNN_NeuroML2_Export.nml
/PyNN/LEMS_Sim_PyNN_NeuroML2_Export_netpyne.py
/PyNN/LEMS_Sim_PyNN_NeuroML2_Export_netpyne.py_main.json
/PyNN/LEMS_Sim_PyNN_NeuroML2_Export_nrn.py
/PyNN/*_netpyne.py
/PyNN/*.py_main.json
