# Framework for running automated tests on OSB using Travis-CI, see https://github.com/OpenSourceBrain/osb-model-validation

dist: trusty
sudo: false

addons:
  apt:
    packages:
    - python-pip # use latest 
       # Requirements for Brian & NEST
    - python-numpy 
    - python-scipy 
    - python-matplotlib 
    - python-sympy
    - python-tables 
    - libreadline6-dev 
    - libncurses5-dev 
    - libgsl0-dev
    - cython

language: python

python: 2.7

virtualenv:
    system_site_packages: true
    
env:
    - OMV_ENGINE=PyNEST
    - OMV_ENGINE=PyNN_Nest
    - OMV_ENGINE=PyNN_NEURON
    - OMV_ENGINE=PyNN_Brian1
    - OMV_ENGINE=PyNN_NeuroML
    - OMV_ENGINE=jNeuroML_validate
    - OMV_ENGINE=jNeuroML
    - OMV_ENGINE=jNeuroML_NEURON

install: 
    - pip install git+https://github.com/OpenSourceBrain/osb-model-validation
    - pip install scipy # Why is this needed? Doesn't seem to get installed correctly on trusty with addons above...

script:
    - pwd
    - omv all -V
    
    
    
    

